<div class="card text-center m-3">
    <h5 class="card-header">Simple GET Request with response type &lt;any&gt;</h5>
    <div class="card-body">
        Total @angular packages: {{totalAngularPackages}}
    </div>

    <h2>My List</h2>
    <div>Selected: {{selectedPackage.package.name}}</div>
    <ul class="heroes">
      <li *ngFor="let package of packages">
        <button [class.selected]="package === selectedPackage" type="button" (click)="onSelect(package)">
          <!-- <span class="badge">{{package.id}}</span> -->
          <span class="name">{{package.name}}</span>
        </button>
      </li>
    </ul>    
</div>
